<div class="wholePage">

    <div>

           <button class="btn btn-success" style="background: #aa67f6;color: black;font-size: larger" @click="goToDrawLine()">Go To Draw Line Page!</button>
           <button class="btn btn-success" style="margin: auto 10px;background: #aa67f6;color: black;font-size: larger" @click="goToDrawCircle()">Go To Draw Circle Page!</button>
           <button class="btn btn-success" style="background: #aa67f6;color: black;font-size: larger" @click="goToDrawEllipse()">Go To Draw Ellipse Page!</button>

    </div>

</div>